<% provide(:title, t(:label_signup)) %>
<% provide(:button_text, t(:label_criar_conta)) %>

<h4><strong><%= t(:label_signup) %></strong></h4>

<div class="row">
  <div class="col-md-6 ml-md-auto mr-md-auto">
    <%= render 'form' %>
  </div>
</div>